<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-dark">
	<div class="container-fluid">
		<div class="logo-img">
			<img class="brang-img" src="./img/brand-logo.png" alt="RAGE">
		</div>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link text-light" href="/">Home</a>
				</li>
				<li class="nav-item ">
					<a class="nav-link text-light" href="#">Orders</a>
				</li>
				<li class="nav-item ">
					<a class="nav-link text-light" href="#">Cart</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-light" href="/signup">Register</a>
				</li>
			</ul>
		</div>
	</div>
</nav>