<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Complete Bootstrap 4 Website Layout</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href="../style.css" rel="stylesheet">
</head>
<body>

<!-- Navigation -->
<%- include('../includes/navigation') %>
<!--- Cards -->
<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-md-4">
            <div class="card card-product">
                <img class="card-img-top" src="../img/cam1.jpg">
                <div class="card-body">
                    <h4 class="card-title">Canon EOS 1500D 24.1 Digital SLR Camera (Black) with EF S18-55 is II Lens, 16GB Card and Carry Case</h4>
                    <h5 class="card-text">Price: ₹39,990.00</h5> 
                    <a href="#" class="btn btn-outline-secondary">Buy Now</a>
                    <a href="#" class="btn btn-outline-secondary">Add to Cart</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-product">
                <img class="card-img-top" src="../img/cam2.jpg">
                <div class="card-body">
                    <h4 class="card-title">Canon EOS 3000D 18MP Digital SLR Camera (Black) with 18-55mm is II Lens, 16GB Card and Carry Case</h4>
                    <h5 class="card-text">Price: ₹ 24,990.00</h5>
                    <a href="#" class="btn btn-outline-secondary">Buy Now</a>
                    <a href="#" class="btn btn-outline-secondary">Add to Cart</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-product">
                <img class="card-img-top" src="../img/cam3.jpg">
                <div class="card-body">
                    <h4 class="card-title">Nikon D3500 DX-Format DSLR Two Lens Kit with AF-P DX Nikkor 18-55mm f/3.5-5.6G VR & AF-P DX Nikkor 70</h4>
                    <h5 class="card-text">Price: ₹52,000.00</h5>
                    <a href="#" class="btn btn-outline-secondary">Buy Now</a>
                    <a href="#" class="btn btn-outline-secondary">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
    </div> 
    <div class="container-fluid padding">
        <div class="row padding">
            <div class="col-md-4">
                <div class="card card-product">
                    <img class="card-img-top" src="../img/cam4.jpg">
                    <div class="card-body">
                        <h4 class="card-title">Nikon D5600 with AF-P 18-55 mm + AF-P 70-300 mm VR Kit with Bag</h4>
                        <h5 class="card-text">Price: ₹62,500.00</h5> 
                        <a href="#" class="btn btn-outline-secondary">Buy Now</a>
                        <a href="#" class="btn btn-outline-secondary">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-product">
                    <img class="card-img-top" src="../img/cam5.jpg">
                    <div class="card-body">
                        <h4 class="card-title">Nikon D7500 20.9MP Digital SLR Camera (Black) with AF-S DX NIKKOR 18-140mm</h4>
                        <h5 class="card-text">Price: ₹ 83,990.00</h5>
                        <a href="#" class="btn btn-outline-secondary">Buy Now</a>
                        <a href="#" class="btn btn-outline-secondary">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-product">
                    <img class="card-img-top" src="../img/cam6.jpg">
                    <div class="card-body">
                        <h4 class="card-title">Canon EOS 80D 24.2MP Digital SLR Camera (Black) + EF-S 18-135mm f/3.5-5.6</h4>
                        <h5 class="card-text">Price: ₹98,440.00</h5>
                        <a href="#" class="btn btn-outline-secondary">Buy Now</a>
                        <a href="#" class="btn btn-outline-secondary">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
        </div>  
<!--- Footer -->
<%- include('../includes/footer') %>
  </body>
</html>